* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
.border-red {
    border: 2px solid red;
}
.border-blue {
    border: 2px solid blue;
}
.border-green {
    border: 2px solid green;
}
.border-grey {
    border: 2px solid grey;
}
.border-white {
    border: 2px solid white;    
}
html, body {
    background-image: url('~@/assets/img/jpg/bg_image.jpg');
    background-size: cover;
    height: 100vh;
    font-size: 20px;
    @media (max-width: $mobile-max) {
        background-image: none;
        background-color: rgb(43, 135, 239);       
        font-size: 12px;
    }    
            /*типа запрет ротации моб устройства
            @media only screen and (min-width: 415px) and (max-width: 1279px) {
                body{display:none} html:before{content:'Переверните устройство в портретный режим или откройте сайт с компьютера.';position:fixed;top:0;left:0;right:0;bottom:0;margin:auto;background:#fff;z-index:999;text-align:center;width:80%;height:100px} 
                }  
            */    
}
#app {
    height: 100%;
}
h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 32px;       
}
h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
    padding-left: 16px;
}
h3 {
    font-size: 100%;
    font-weight: 500;
    padding-left: 16px;
}
b {
    font-weight: 500;
}

a {
    text-decoration: none;
    &:visited {
        text-decoration: none;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*
button {
    padding: 0;
    width: 0;
    height: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
*/
p {
    line-height: 20px;
    margin-bottom: 16px; 
    @media (max-width: $mobile-max) {
        line-height: 14px;
    }    
}
.mb-48 {
    margin-bottom: 48px;
}
.mb-32 {
    margin-bottom: 32px;
}
.mb-16 {
    margin-bottom: 16px;
}
.pl-32 {
    padding-left: 32px;
}
.mr-8 {
    margin-right: 8px;
}
.mr-16 {
    margin-right: 16px;
}
.img-content {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 16px; 
    @media (max-width: $mobile-max) {
        border-radius: 0;
    }    
}
.text-center {
    text-align: center;
}
.ck-editor__editable {
    min-height: 300px;
}