* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
.border {
    border: 2px solid red;
}
html, body {
    background-image: url('~@/assets/img/jpg/bg_image.jpg');
    background-size: cover;
    height: 100vh;
    font-size: 20px;
    @media (max-width: $mobile-max) {
        background-image: url('~@/assets/img/jpg/bg_image_mobile_2.jpg');
        background-size: cover;        
        font-size: 12px;
    }      
}
#app {
    height: 100%;
}
h1 {
    text-align: center;
    font-size: 110%;
    font-weight: 500;
    margin-bottom: 32px;       
}
h2 {
    font-size: 105%;
    font-weight: 500;
    margin-bottom: 24px;
    padding-left: 16px;
}
h3 {
    font-size: 100%;
    font-weight: 500;
    padding-left: 16px;
}
b {
    font-weight: 500;
}
a {
    text-decoration: none;
    &:visited {
        text-decoration: none;
    }
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*
button {
    padding: 0;
    width: 0;
    height: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
*/
p {
    line-height: 20px;
    margin-bottom: 16px; 
    @media (max-width: $mobile-max) {
        line-height: 14px;
    }    
}
.mb-48 {
    margin-bottom: 48px;
}
.mb-32 {
    margin-bottom: 32px;
}
.mb-16 {
    margin-bottom: 16px;
}
.pl-32 {
    padding-left: 32px;
}
.img-content {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 16px; 
    @media (max-width: $mobile-max) {
        border-radius: 0;
    }    
}
.text-center {
    text-align: center;
}